# Compiled / byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


# Generated at compilation/install time
bindings/_ptools.cpp
ptools/cgopt/cgopt.c
MANIFEST.out


# Unit test / coverage
Tests/cpp/runner.cpp
Tests/cpp/ptoolstest.bin
Tests/cpp/Makefile
.cache

# Distribution / packaging
.Python
env/
build/
_build/
develop-eggs/
dist/
eggs/
.eggs/
sdist/
*.egg-info
*.egg

# Text-editors
*~
.*.swp


# Build generated version files
headers/gitrev.h
